{% extends 'auth/base.html' %} 
{% block title %}Login{% endblock title %} 

{% block body %}

<div class="container">
    <div class="row">
        <div class="clo-12">

            <div class="alert alert-info">this is Login page</div>
            
            <a href="{% url 'home' %}" class="btn btn-primary mt-3">Home</a>
            <a href="{% url 'signup' %}" class="btn btn-primary mt-3">SignUp</a>
            <br><br><br>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-3">Login</button>
            </form>
            
        </div>
    </div>
</div>

{% endblock body %}
