{% extends 'auth/base.html' %} 
{% block title %}Login{% endblock title %} 

{% block body %}

<div class="container">
    <div class="rows">
        <div class="clo-12">

            <div class="text-center">
                <a href="{% url 'home' %}" class="btn btn-primary mt-3 mx-3">Home</a>
                <a href="{% url 'signup' %}" class="btn btn-primary mt-3 mx-3">SignUp</a>
            </div>
            <br><br><br>
            <form method="post" class="text-center">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-3">Login</button>
            </form>
            
        </div>
    </div>
</div>

{% endblock body %}
