{% extends 'auth/base.html' %}
  {% block title %}Singup{% endblock title %} 
  {% block body %}
  <div class="container">
      <div class="rows">
          <div class="clo-12">
            <div class="text-center">
                <a href="{% url 'home' %}" class="btn btn-primary mt-3">Home</a>
                <a href="{% url 'login' %}" class="btn btn-primary mt-3">Login</a>
            </div>
              <br>
              <form method="post" class="text-center">
                  {% csrf_token %}
                  {% for field in form %}
                  <p>
                      {{ field.label_tag }}<br>
                      {{ field }}                     
                      {% for error in field.errors %}
                          </p><p style="color: red">{{ error }}</p>
                      {% endfor %}
                  <p></p>
                  {% endfor %}
                  <button type="submit" class="btn btn-primary mt-3">Sign up </button>
              </form>
          </div>
      </div>
  </div>

  {% endblock body %}