{% extends 'auth/base.html' %} {% block title %}Home{% endblock title %} 
{% block body %}

{% if user.is_authenticated %}

<div class="wrapper">
  <div class="sidebar">

    <div class="sidebar-wrapper">
      <div class="logo">
      
        <a href="javascript:void(0)" class="simple-text logo-normal">
          Welcome {{ user.username }} 😊                </a>
      </div>
      <ul class="nav">
        <li>
          <a href="{% url 'home' %}">
            <i class="tim-icons icon-chart-pie-36"></i>
            <p>Dashboard</p>
          </a>
        </li>
        {% if user.role == 'Mentor' %}
          <li class="active">
            <a href="{% url 'interns' %}">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>My Interns</p>
            </a>
          </li>
          {% endif %}                                                  
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav
      class="navbar navbar-expand-lg navbar-absolute navbar-transparent"
    >
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-toggle d-inline">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <a class="navbar-brand" href="javascript:void(0)"
            >Interns</a
          >
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navigation"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto">                    
            <li class="dropdown nav-item">
              <a
                href="javascript:void(0)"
                class="dropdown-toggle nav-link"
                data-toggle="dropdown"
              >
                <div
                  class="notification d-none d-lg-block d-xl-block"
                ></div>
                <i class="tim-icons icon-sound-wave"></i>
                <p class="d-lg-none">Notifications</p>
              </a>
              <ul
                class="dropdown-menu dropdown-menu-right dropdown-navbar"
              >
                <li class="nav-link">
                  <a href="#" class="nav-item dropdown-item"
                    >Sample notification 1</a
                  >
                </li>
                <li class="nav-link">
                  <a
                    href="javascript:void(0)"
                    class="nav-item dropdown-item"
                    >Sample notification 2</a
                  >
                </li>
                <li class="nav-link">
                  <a
                    href="javascript:void(0)"
                    class="nav-item dropdown-item"
                    >Sample notification 3</a
                  >
                </li>
                <li class="nav-link">
                  <a
                    href="javascript:void(0)"
                    class="nav-item dropdown-item"
                    >Sample notification 4</a
                  >
                </li>
              </ul>
            </li>

            <!-- fix light mode dark mode later !! -->

            <!-- <li class="dropdown nav-item">
            <span class="color-label">LIGHT MODE</span>
            <span class="badge light-badge mr-2"></span>
            <span class="badge dark-badge ml-2"></span>
            <span class="color-label">DARK MODE</span>
            </li> -->

            <li class="dropdown nav-item">
              <a
                href="#"
                class="dropdown-toggle nav-link"
                data-toggle="dropdown"
              >
                <div class="photo">
                  <img
                    src="../static/img/avatar.jpg"
                    alt="Profile Photo"
                  />
                </div>
                <b class="caret d-none d-lg-block d-xl-block"></b>
                <p class="d-lg-none">Log out</p>
              </a>
              <ul class="dropdown-menu dropdown-navbar">
                <li class="nav-link">
                  <a
                    href="javascript:void(0)"
                    class="nav-item dropdown-item"
                    >Profile</a
                  >
                </li>
                <li class="nav-link">
                  <a
                    href="javascript:void(0)"
                    class="nav-item dropdown-item"
                    >Settings</a
                  >
                </li>
                <li class="dropdown-divider"></li>
                <li class="nav-link">
                  <a
                    href="logout/"
                    class="nav-item dropdown-item"
                    >Log out</a
                  >
                </li>
              </ul>
            </li>
            <li class="separator d-lg-none"></li>
          </ul>
        </div>
      </div>
    </nav>            
    <!-- End Navbar -->

      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card  card-plain">
              <div class="card-header">
                <h4 class="card-title"> Interns Assigned</h4>
                <p class="category"> Details of all Interns 👇</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          Intern ID
                        </th>                        
                        <th>
                          Name 
                        </th>
                        <th>
                          Email
                        </th>
                        <th>
                          Phone
                        </th>
                        <th>
                          College
                        </th>                       
                      </tr>
                    </thead>
                    <tbody>                    
                      {% for intern in intern_obj %}
                        <tr>
                          <td>
                            I{{ intern.internid_id }}
                          </td>
                          <td>
                            {{ intern.firstname }} {{ intern.lastname }}
                          </td>
                          <td>
                            {{ intern.email }}
                          </td>
                          <td>
                            {{ intern.phone }}
                          </td>
                          <td>
                            {{ intern.college }}
                          </td>
                        </tr>
                      {% endfor %}     
                    </tbody>
                    
                  </table>
                  {% if not intern_obj%}
                        
                    <span class="notif"> No records found !</span>
                    
                {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                dummy1
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link"> dummy2 </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link"> dummy3 </a>
            </li>
          </ul>               
        </div>
      </footer>
    </div>
  </div>

  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/black-dashboard.min.js?v=1.0.0"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-free"
      });
  </script>
   {% else %}

   <div class="rows">
     <p>You are not logged in!</p>
     <br />
     <a href="{% url 'login' %}" class="btn btn-primary mt-3"> Log In </a>
     <a href="{% url 'signup' %}" class="btn btn-primary mt-3"> SignUp </a>
   </div>

   {% endif %}

{% endblock body %}
