  {% extends 'auth/widgets/dashboard.html' %} 
  {% block sidenav %}
    <li class="active">
      <a href="{% url 'home' %}">
        <i class="bi bi-speedometer2"></i>                    
        <p>Dashboard</p>
      </a>
    </li>
    {% if user.role == 'Mentor' %}
    <li>
      <a href="{% url 'interns' %}">
        <i class="material-icons">people_alt</i>
        <p>My Interns</p>
      </a>
    </li>
    <li>
      <a href="{% url 'new_task' %}">
        <i class="material-icons">assignment_add</i>
        <p>Create New Task</p>
      </a>
    </li>
    {% endif %}
  {% endblock sidenav %}                                                
           
  {% block navbrand %}
    <a class="navbar-brand" href="javascript:void(0)"
      >DASHBOARD</a
    >
  {% endblock navbrand %}                   

  {% block mainContent %} 
    <div class="col-12">
    </div>
  {% endblock mainContent %}

  {% block optional %}
    {% if user.username != 'admin' %}
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <div class="card card-tasks">
            <div class="card-header">
              <h6 class="title d-inline">Pending Tasks</h6>
              <!-- <p class="card-category d-inline">today</p> -->
              <!-- <div class="dropdown">
                <button
                  type="button"
                  class="btn btn-link dropdown-toggle btn-icon"
                  data-toggle="dropdown"
                >
                  <i class="tim-icons icon-settings-gear-63"></i>
                </button>
                <div
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="dropdownMenuLink"
                >
                  <a class="dropdown-item" href="#pablo">Action</a>
                  <a class="dropdown-item" href="#pablo"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="#pablo"
                    >Something else</a
                  >
                </div>
              </div> -->
            </div>
            <div class="card-body">
              <div class="table-full-width table-responsive">
                <table class="table">
                  <tbody>
                    {% for task in to_do %}
                    <tr>
                      <td>
                        <p class="title">Task {{ task.id }}</p>  
                        {% if user.role == 'Mentor' %}
                        <div class="assignee-bubble">
                          <span class="assignee-initials">{{ task.internid.firstname }}</span>
                        </div>
                        {% endif %}
                        <p class="text-muted">
                          {{ task.description }}
                        </p>   
                        

                      </td>
                      <td class="td-actions text-right">
                        <button
                          type="button"
                          rel="tooltip"
                          title=""
                          class="btn btn-link"
                          data-original-title="Edit Task"
                        >
                          <i class="tim-icons icon-pencil"></i>
                        </button>
                      </td>
                    </tr>
                    {% endfor %}
                    {% if not to_do %}
                        
                    <span class="notif"> No tasks found !</span>
                    
                {% endif %}
                    <!-- <tr>
                      <td>
                        <p class="title">Sample Task 2</p>
                        <p class="text-muted">
                          Sample Task 2 Description
                        </p>
                      </td>
                      <td class="td-actions text-right">
                        <button
                          type="button"
                          rel="tooltip"
                          title=""
                          class="btn btn-link"
                          data-original-title="Edit Task"
                        >
                          <i class="tim-icons icon-pencil"></i>
                        </button>
                      </td>
                    </tr>                          -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>      
        <div class="col-lg-4 col-md-12">
          <div class="card card-tasks">
            <div class="card-header">
              <h6 class="title d-inline">In Progress Tasks</h6>
              <!-- <p class="card-category d-inline">today</p> -->
              <!-- <div class="dropdown">
                <button
                  type="button"
                  class="btn btn-link dropdown-toggle btn-icon"
                  data-toggle="dropdown"
                >
                  <i class="tim-icons icon-settings-gear-63"></i>
                </button>
                <div
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="dropdownMenuLink"
                >
                  <a class="dropdown-item" href="#pablo">Action</a>
                  <a class="dropdown-item" href="#pablo"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="#pablo"
                    >Something else</a
                  >
                </div>
              </div> -->
            </div>
            <div class="card-body">
              <div class="table-full-width table-responsive">
                <table class="table">
                  <tbody>
                    {% for task in in_progress %}
                    <tr>
                      <td>
                        <p class="title">Task {{ task.id }}</p>  
                        {% if user.role == 'Mentor' %}                                                
                        <div class="assignee-bubble">
                          <span class="assignee-initials">{{ task.internid.firstname }}</span>
                        </div>
                        {% endif %}
                        <p class="text-muted">
                          {{ task.description}}
                        </p>                              
                      </td>
                      <td class="td-actions text-right">
                        <button
                          type="button"
                          rel="tooltip"
                          title=""
                          class="btn btn-link"
                          data-original-title="Edit Task"
                        >
                          <i class="tim-icons icon-pencil"></i>
                        </button>
                      </td>
                    </tr>
                    {% endfor %}           
                    {% if not in_progress %}
                        
                    <span class="notif"> No tasks found !</span>
                    
                {% endif %}                                  
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>   
        <div class="col-lg-4 col-md-12">
          <div class="card card-tasks">
            <div class="card-header">
              <h6 class="title d-inline">Completed Tasks</h6>
              <!-- <p class="card-category d-inline">today</p> -->
              <!-- <div class="dropdown">
                <button
                  type="button"
                  class="btn btn-link dropdown-toggle btn-icon"
                  data-toggle="dropdown"
                >
                  <i class="tim-icons icon-settings-gear-63"></i>
                </button>
                <div
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="dropdownMenuLink"
                >
                  <a class="dropdown-item" href="#pablo">Action</a>
                  <a class="dropdown-item" href="#pablo"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="#pablo"
                    >Something else</a
                  >
                </div>
              </div> -->
            </div>
            <div class="card-body">
              <div class="table-full-width table-responsive">
                <table class="table">
                  <tbody>
                    {% for task in completed %}
                    <tr>
                      <td>
                        <p class="title">Task {{ task.id }}</p>  
                        {% if user.role == 'Mentor' %}
                        <div class="assignee-bubble">
                          <span class="assignee-initials">{{ task.internid.firstname }}</span>
                        </div>
                        {% endif %}
                        <p class="text-muted">
                          {{ task.description}}
                        </p>                              
                      </td>
                      <td class="td-actions text-right">
                      
                      </td>
                    </tr>
                    {% endfor %} 
                    {% if not completed %}
                        
                    <span class="notif"> No tasks found !</span>
                    
                    {% endif %}                                              
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>      
      </div>
    {% else %}
      <div class="row">
        <p class="rows text-center" style="font-size: 40px;"><a href="/admin/"> 🔙 Django Admin  </a></p>
      </div>
    {% endif %}
  {% endblock optional %}                