{% extends 'auth/widgets/dashboard.html' %} 
{% block sidenav %}
        <li>
          <a href="{% url 'home' %}">
            <i class="bi bi-speedometer2" style="color: #07eeee;"></i>            
            <p>Task Board</p>
          </a>
        </li>
        <li class="selected">
          <a href="{% url 'new_task' %}">
            <i class="material-icons" style="color: orange;">assignment_add</i>
            <p style="color: orange;">Add New Task</p>
          </a>
        </li>
        <li>
          <a href="{% url 'profile' %}">
            <i class="material-icons" style="color: #2dff79;">manage_accounts</i>
            <p>My Profile</p>
          </a>
        </li>
        {% if user.role == 'Mentor' %}
          <li>
            <a href="{% url 'interns' %}">
              <i class="material-icons" style="color: deeppink;">people_alt</i>
              <p>My Interns</p>
            </a>
          </li>
        {% endif %}       

{% endblock sidenav %}                                                

        {% block mainContent %}
        <div class="col-md-12">
        </div>
        {% endblock mainContent %}

        {% block optional %}
        <div class="content">
          <div class="row justify-content-md-center">
            <div class="col-md-10">
              <div class="card profile">
                <div class="card-header">
                  
                </div>
                <div class="card-body">
                  <form class="profile-card" id="task-form" action="{% url 'new_task' %}" method="POST">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                              {{ field.label_tag }}
                              {{ field }}                                
                        </div>
                      </div>            
                    </div>
                    {% endfor %}                
                    <div class="card-footer">
                      <button type="submit" class="btn btn-fill btn-primary">Add Task</button>
                    </div>
                  </form>
                </div>
      
              </div>
            </div>
          </div>
        </div>  
        {% endblock optional %}

