{% extends 'auth/widgets/dashboard.html' %} 
{% block sidenav %}
        <li>
          <a href="{% url 'home' %}">
            <i class="bi bi-speedometer2"></i>            
            <p>Dashboard</p>
          </a>
        </li>
        {% if user.role == 'Mentor' %}
          <li class="active">
            <a href="{% url 'interns' %}">
              <i class="material-icons">people_alt</i>
              <p>My Interns</p>
            </a>
          </li>
          <li>
            <a href="{% url 'new_task' %}">
              <i class="material-icons">assignment_add</i>
              <p>Create New Task</p>
            </a>
          </li>
          {% endif %}       
          {% endblock sidenav %}                                                

          {% block navbrand %}
          <a class="navbar-brand" href="javascript:void(0)"
            >Interns</a
          >
          {% endblock navbrand %}                   

          {% block mainContent %} 
          <div class="col-md-12">
            <div class="card  card-plain">
              <div class="card-header">
                <h4 class="card-title"> Interns Assigned</h4>
                <p class="category"> Details of all Interns 👇</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          Intern ID
                        </th>                        
                        <th>
                          Name 
                        </th>
                        <th>
                          Email
                        </th>
                        <th>
                          Phone
                        </th>
                        <th>
                          College
                        </th>                       
                      </tr>
                    </thead>
                    <tbody>                    
                      {% for intern in intern_obj %}
                        <tr>
                          <td>
                            I{{ intern.internid_id }}
                          </td>
                          <td>
                            {{ intern.firstname }} {{ intern.lastname }}
                          </td>
                          <td>
                            {{ intern.email }}
                          </td>
                          <td>
                            {{ intern.phone }}
                          </td>
                          <td>
                            {{ intern.college }}
                          </td>
                        </tr>
                      {% endfor %}     
                    </tbody>
                    
                  </table>
                  {% if not intern_obj%}
                        
                    <span class="notif"> No records found !</span>
                    
                {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endblock mainContent %}
