{% extends 'auth/widgets/dashboard.html' %} 
{% block sidenav %}
  <li>
    <a href="{% url 'home' %}">
      <i class="bi bi-speedometer2"></i>                    
      <p>Task Board</p>
    </a>
  </li>
  {% if user.role == 'Mentor' %}
  <li>
    <a href="{% url 'interns' %}">
      <i class="material-icons">people_alt</i>
      <p>My Interns</p>
    </a>
  </li>
  <li>
    <a href="{% url 'new_task' %}">
      <i class="material-icons">assignment_add</i>
      <p>Create New Task</p>
    </a>
  </li>
  <li>
    <a href="{% url 'new_task' %}">
      <i class="material-icons">manage_accounts</i>
      <p>My Profile</p>
    </a>
  </li>
  {% endif %}
{% endblock sidenav %}                                                
         
{% block navbrand %}
  <a class="navbar-brand" href="javascript:void(0)"
    >Task Details</a
  >
{% endblock navbrand %}                   

{% block mainContent %} 
<div class="col-md-12">
  <div class="card  card-plain">
    <!-- <div class="card-header">
      <h4 class="card-title"> Task Assigned</h4>
    </div> -->
    <div class="card-body">
      <div class="table-responsive">
        <table class="table tablesorter " id="jojo">
          <thead class=" text-primary">
            <tr>
              <th>
                Task ID
              </th>                        
              <th>
                Description 
              </th>
              <th>
                Date Assigned
              </th>
              <th>
                Date Started
              </th>
              <th>
                Date Completed
              </th>
              <th>
                Due Date
              </th>   
              <th>
                Completion Status
              </th>   
              <th>
                Progress Status
              </th>                       
            </tr>
          </thead>
          <tbody>                    
              <tr>
                <td>
                  {{ task.id }}
                </td>
                <td>
                  {{ task.description }}
                </td>
                <td>
                  {{ task.assigned_date|date:'d/m/y'  }}
                </td>
                <td>
                  {% if task.started_date is None %}
                    --
                  {% else %}  
                    {{ task.started_date|date:'d/m/y' }}
                  {% endif %}
                </td>
                <td>
                  {% if task.completed_date is None %}
                    --
                  {% else %}  
                    {{ task.completed_date|date:'d/m/y' }}
                  {% endif %}
                </td>
                <td>
                  {% if task.due_date is None %}
                    --
                  {% else %}
                    {{ task.due_date|date:'d/m/y' }}
                  {% endif %}
                </td>
                <td>
                  {% if task.completion_status %}
                  <i class="material-icons status-label" style="color:#15e215;">
                    task_alt
                  </i>
                  {% else %}
                  <i class="material-icons status-label" style="color:#ff2c39">
                    highlight_off
                </i>
                {% endif %}
                </td>
                <td>
                  {{ task.progress_status }}
                </td>                               
              </tr>
          </tbody>
          
        </table>
      </div>
    </div>
    <div class="card-body">
      <p class="text-center text-primary" style="font-size: larger; margin-top: 20px;">Comment section</p>
      {% if comment is not None %}
        <!-- print comments -->
      {% else %}
        <p class="text-center text-muted" style="color:grey !important; padding: 40px;">No Comments Posted!</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock mainContent %}

{% block optional %}
  {% if user.username == 'admin' %}    
    <div class="row">
      <p class="rows text-center" style="font-size: 40px;"><a href="/admin/"> 🔙 Django Admin  </a></p>
    </div>
  {% endif %}
{% endblock optional %}                